@use "reset";

body {
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: hsl(188deg, 60%, 25%);
	background-image: url('/background.jpg');
	color: white;
}


.nauris {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.es-te {
	opacity: 0.1;
}

::selection {
	background-color: hsl(20, 70%, 60%);
}

h1 {
	font-size: 10rem;text-align: center;
	line-height: 1;
	text-shadow: 0px 2px 1px hsl(188deg, 60%, 15%);

	span {
		font-size: 5rem;
		line-height: 1;
		opacity: 0.5;
		margin-left: -1.25rem;
	}
}